.cloud {
    position: absolute;
    border-radius: 50px;
    filter: blur(15px);
    pointer-events: none;
    --illumination: 0;
    --cloud-opacity: 0.4;
    opacity: var(--cloud-opacity);
    background: linear-gradient(
        rgba(20, 40, 60, 0.6),
        rgba(20, 40, 60, 0.6)
    ) calc(100% - var(--illumination) * 100%),
    linear-gradient(
        rgba(180, 200, 255, 0.8),
        rgba(180, 200, 255, 0.8)
    ) 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
} 