.cloud {
    position: absolute;
    border-radius: 50px;
    filter: blur(15px);
    pointer-events: none;
    --illumination: 0;
    --cloud-opacity: 0.4;
    --light-x: 50%;
    --light-y: 50%;
    opacity: var(--cloud-opacity);
    background: linear-gradient(
        rgba(20, 40, 60, 0.6),
        rgba(20, 40, 60, 0.6)
    ) 0;
    mix-blend-mode: screen;
    z-index: 1;
}

.cloud::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
        circle at var(--light-x) var(--light-y),
        rgba(255, 255, 255, calc(var(--illumination) * 1.5)) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    mix-blend-mode: screen;
    border-radius: inherit;
    transition: 
        background 0.4s ease-in-out,
        background-position 0.4s ease-in-out,
        --light-x 0.4s ease-in-out,
        --light-y 0.4s ease-in-out,
        --illumination 0.4s ease-in-out;
} 